<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>meadowlark travel</title>
{{{_sections.head}}}
<link rel="stylesheet" href="/public/bootstrap-3.3.5-dist/css/bootstrap.min.css">


</head>
<body>
<header>
    <img src="public/img/logo.jpg" alt="Meadowlark Travel Logo">
</header>
{{{body}}}
<script src="public/scripts/jquery-1.12.4.js"></script>
<script src="/public/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
{{{_sections.jquery}}}
</body>
</html>
