<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>meadowlark travel</title>
{{{_sections.head}}}

</head>
<body>
<header>
    <img src="public/img/logo.jpg" alt="Meadowlark Travel Logo">
</header>
{{{body}}}
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
{{{_sections.jquery}}}
</body>
</html>
